/* 
Estilo da página index.html 
*/

.p1{font-size: 30px;}
.center{text-align: center;}

.justify {
    text-align: justify;
}

.container {
    
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li{
    display: inline;
    padding: 15px;
    
}

#menu li a {
    text-decoration: none;
    color: darkslateblue;
}

#menu li a:hover {
    color: darkturquoise;
}

.padding30 {
    padding: 30px;
}

.padding100 {
    padding: 100px;
}

.border50 {
    border-radius: 30%;
}

.wh {
    width: 500px;
    height: 700px;
}

.tam-redes {
    width: 50px;
    height: 50px;
}

.margin-50 {
    margin-bottom: 50px;
}

.margin-left50 {
    margin-left: 50px;
}

/*
:root{
    --fundo: #f5f5f5;
    --text: #212121;
}

body{
    background-color: var(--fundo);
    color: var(--text);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    margin-top: 32px;
    width: 160px;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid var(--text);
    background-color: var(--fundo);
    font-weight: bold;
}

.dark-theme{
    background-color: var(--text);
    color: var(--fundo);
}
*/